*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff3b2;
    padding: 0;
    margin: 0;
}

.container{
    padding: 20px; 
    width: 400px;
    background-color: aliceblue;
    border: 1px solid #121212;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #33333391;
    margin: 20px;
}

h2{
    margin: 0;
}

.default{
    font-style: italic;
    opacity: 70%;
}

.footer,.header{
    display: flex;
    flex-direction: row;
}
.header{
    justify-content: space-between;
}

.add-btn,.del-all,.del-btn{
    height: 40px;
    width: 20%; 
    padding: 10px;
    background-color: rgb(179, 255, 0);
    border: 1px solid #111;
    border-radius: 10px;
    margin-left: 8px;
}
.del-all,.del-btn{
    width: auto;
    background-color: black;
    color: white;
}
.add-btn:hover, .del-all:hover, .del-btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.add-btn:hover {
    background-color: rgb(150, 220, 0);
}
.del-all:hover, .del-btn:hover {
    background-color: #333;
}

ul{
    list-style: none;
    padding: 0;
    
}

li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    border: 1px solid #666;
    padding: 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.check{
    height: 20px;
    width: 20px;
}

input{
    height: 40px;
    width: 80%;
    padding: 10px;
    border: 1px solid #111;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
}